<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-и-изучение-данных" data-toc-modified-id="Загрузка-и-изучение-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка и изучение данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Изучение-пропусков" data-toc-modified-id="Изучение-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Изучение пропусков</a></span></li><li><span><a href="#Заполнение-пропусков" data-toc-modified-id="Заполнение-пропусков-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Заполнение пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Заполняем-пропуски-в-столбце-days_employed-медианными-значениями" data-toc-modified-id="Заполняем-пропуски-в-столбце-days_employed-медианными-значениями-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Заполняем пропуски в столбце <code>days_employed</code> медианными значениями</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследуем-данные-и-отвечаем-на-вопросы" data-toc-modified-id="Исследуем-данные-и-отвечаем-на-вопросы-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследуем данные и отвечаем на вопросы</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li></ul></li><li><span><a href="#Общий-вывод." data-toc-modified-id="Общий-вывод.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод.</a></span></li></ul></div>

# Исследование надежности заемщиков

**Цель проекта:**  
Исследовать влияние семейного положения и количества детей клиента на факт погашения кредита в срок. Результаты исследования будут использованы при разработке модели кредитного скоринга для оценки платежеспособности потенциальных заемщиков.

**Ход проекта:**
1. Подготовка данных
- Импортировать необходимые библиотеки: pandas, numpy.
- Загрузить данные о платежеспособности клиентов из банка.
- Ознакомиться с общей информацией о данных: размерность, типы данных, наличие пропущенных значений.
- Провести предобработку данных:
- Заменить пропущенные значения, если необходимо.
- Привести данные к нужным типам, например, числовые данные к числовому типу, строковые данные к строковому типу.
- Обработать аномальные и некорректные значения.
2. Анализ данных
- Изучить распределение значений целевой переменной debt (имел ли клиент задолженность по возврату кредитов).
- Провести анализ влияния следующих переменных на факт погашения кредита в срок:
    - family_status (семейное положение)
    - children (количество детей в семье)
- Для каждой переменной рассмотреть распределение значений и проанализировать, какие семейные положения и количество детей связаны с более высоким или более низким риском задолженности по кредиту.
- Подготовить сводные таблицы, графики или другие визуализации для наглядного представления результатов анализа.
3. Выводы
- Сделать общие выводы о влиянии семейного положения и количества детей клиента на факт погашения кредита в срок.
- Описать основные закономерности, обнаруженные в данных.
- Предложить рекомендации для построения модели кредитного скоринга, учитывающей семейное положение и количество детей клиента.

## Загрузка и изучение данных

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [3]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Изучение пропусков

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

### Заполнение пропусков

In [6]:
data['total_income'] = data['total_income'].fillna(data.groupby(['income_type'])['total_income'].transform('median'))

In [7]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

### Обработка аномальных значений

In [8]:
data['days_employed'] = data['days_employed'].abs()

In [9]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Заполняем пропуски в столбце `days_employed` медианными значениями

In [13]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [14]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [15]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [16]:
data['education'] = data['education'].str.lower()

In [17]:
data.duplicated().sum()

71

In [18]:
data = data.drop_duplicates()

### Категоризация данных

**На основании диапазонов, указанных ниже, создаем в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [19]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [20]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Создаем функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [22]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [23]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуем данные и отвечаем на вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Будем оценивать зависимость между количеством детей и возвратом кредита по доле людей, которые имеют долг.
Для реализации воспользуемся методом `pivot_table`.

In [24]:
doubt_by_children = data.pivot_table(index = ['children'],
                                     values='debt',
                                     aggfunc = ('mean', lambda x: x.count(),lambda x: x.sum()))
doubt_by_children = doubt_by_children.rename(columns={"<lambda_0>": "Количество <br> заемщиков",
                                                      "mean": "Доля должников",
                                                     '<lambda_1>': 'Количество <br> должников'})
doubt_by_children = doubt_by_children.style.format({
    'Доля должников': '{:.2%}',
    'Количество <br> заемщиков': '{:.0f}',
    'Количество <br> должников': '{:.0f}'
})
doubt_by_children

**Вывод:** люди, которые не имеют детей, лучше всего отдают кредит - доля должников здесь составляет 7,5%. Хуже обстоит дело с заемщиками, у которых один или двое детей - здесь доля невозврата составляет соответственно 9,2% и 9,5%.  
Остальные категории некорректно сравнивать, так как в них очень маленькая выборка.  
Хуже всего выплачивают кредит люди с 2 детьми, лучше всего - люди без детей. Разница между ними ~ 20,2%.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [26]:
doubt_by_status = data.pivot_table(index = ['family_status'],
                                     values='debt',
                                     aggfunc = ('mean', lambda x: x.count(),lambda x: x.sum()))
doubt_by_status = doubt_by_status.rename(columns={"<lambda_0>": "Количество <br> заемщиков",
                                                      "mean": "Доля должников",
                                                     '<lambda_1>': 'Количество <br> должников'})
doubt_by_status = doubt_by_status.style.format({
    'Доля должников': '{:.2%}',
    'Количество <br> заемщиков': '{:.0f}',
    'Количество <br> должников': '{:.0f}'
})
doubt_by_status

**Вывод:** люди с семейным положением "женат / замужем" лучше всего отдают кредит - доля должников здесь составляет 7,6%. Хуже обстоит дело с заемщиками, чей статус "гражданский брак" или "Не женат / не замужем" - здесь доля невозврата составляет соответственно 9,3% и 9,8%.  
Остальные категории некорректно сравнивать, так как в них очень маленькая выборка.  
Хуже всего выплачивают кредит люди в статусе "Не женат / не замужем", лучше всего - люди, чье семейное положение "женат / замужем". Разница между ними ~ 22,5%.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [27]:
doubt_by_income = data.pivot_table(index = ['total_income_category'],
                                     values='debt',
                                     aggfunc = ('mean', lambda x: x.count(),lambda x: x.sum()))
doubt_by_income = doubt_by_income.rename(columns={"<lambda_0>": "Количество <br> заемщиков",
                                                      "mean": "Доля должников",
                                                     '<lambda_1>': 'Количество <br> должников'})
doubt_by_income = doubt_by_income.style.format({
    'Доля должников': '{:.2%}',
    'Количество <br> заемщиков': '{:.0f}',
    'Количество <br> должников': '{:.0f}'
})
doubt_by_income

**Вывод:** лучше всего с выплатой кредита в срок справляются люди из категории B (200001-1000000) - доля должников здесь составляет 7%. Хуже обстоит дело с заемщиками из категории C (50001-200000) - здесь доля невозврата составляет 8,5%.  
Разница между ними ~ 16,9%.  
Остальные категории некорректно сравнивать, так как в них очень маленькая выборка.

### Как разные цели кредита влияют на его возврат в срок?

In [28]:
doubt_by_purpose = data.pivot_table(index = ['purpose_category'],
                                     values='debt',
                                     aggfunc = ('mean', lambda x: x.count(),lambda x: x.sum()))
doubt_by_purpose = doubt_by_purpose.rename(columns={"<lambda_0>": "Количество <br> заемщиков",
                                                      "mean": "Доля должников",
                                                     '<lambda_1>': 'Количество <br> должников'})
doubt_by_purpose = doubt_by_purpose.style.format({
    'Доля должников': '{:.2%}',
    'Количество <br> заемщиков': '{:.0f}',
    'Количество <br> должников': '{:.0f}'
})
doubt_by_purpose

**Вывод:** меньше всего должников в категориях "операции с недвижимостью" и "проведение свадьбы" - доля должников здесь составляет соответственно 7,3% и 7,9%. Хуже обстоит дело с заемщиками в категориях "операции с автомобилем" и "получение образования" - здесь доля невозврата составляет соответственно 9,4% и 9,3%.
Хуже всего выплачивают кредит люди в категории "операции с автомобилем", лучше всего - люди в категории "операции с недвижимостью". Разница между ними ~ 22,4%.  
Самые надежные кредиторы - те, кто берет ипотеку. Вероятно, это потому, что люди чаще всего берут ее на очень большой срок и более ответственно подходят к решению взять такое обязательство.

## Общий вывод.

**"Есть ли зависимость между количеством детей и возвратом кредита в срок?"**  
Зависимость есть - хуже всего выплачивают кредит люди с 2 детьми (доля должников  9,5%), лучше всего - люди без детей (доля должников  7,5%). Разница между ними ~ 20,2%.  
  
**"Есть ли зависимость между семейным положением и возвратом кредита в срок?"**  
Зависимость есть - хуже всего выплачивают кредит люди с семейным положением "Не женат / не замужем" (доля должников  9,8%), лучше всего - люди с семейным положением "женат / замужем" (доля должников  7,6%). Разница между ними ~ 22,5%.  

**"Есть ли зависимость между уровнем дохода и возвратом кредита в срок?"**  
Зависимость есть - лучше всего с выплатой кредита в срок справляются люди из категории B (200001-1000000) - доля должников здесь составляет 7%. Хуже обстоит дело с заемщиками из категории C (50001-200000) - здесь доля невозврата составляет 8,5%.
Разница между ними ~ 16,9%.  

**"Как разные цели кредита влияют на его возврат в срок?"**  
Хуже всего выплачивают кредит люди в категории "операции с автомобилем"(9,4%), лучше всего - люди в категории "операции с недвижимостью"(7,3%). Разница между ними ~ 22,4%.  

**Рекомендации банку по улучшению сбора данных и скоринга**  
Обратить дополнительное внимание на сбор данных в категориях "опыт"-"days_employed" и "доход"-"total_income". В них было много пропусков и аномальных значений.  
Для улучшения скоринга нужно придавать большее значение цели кредита, семейному положению заемщика и количеству детей в семье.  
Если заемщик попадает в одну из двух категорий по уровню дохода(В или С), то можно улучшить скоринг, если при оценке учитывать и этот параметр.